{% extends '@admin/layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}

    {% if item is defined and item is not null %}
    <h1>Editer {{ item.name }}</h1>

        <form action="{{ path('blog.admin.edit', {id: item.id}) }}" method="post">
            {% include '@blog/admin/form.twig' %}
        </form>

    {% endif %}

{% endblock %}
